<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070297874057-qlgh4vltullhpm484ntnm9nuefrrtof3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070297874057-qlgh4vltullhpm484ntnm9nuefrrtof3</string>
	<key>API_KEY</key>
	<string>AIzaSyCD28mwZSGwXDpUfPwLIimjv2k4BsCkbys</string>
	<key>GCM_SENDER_ID</key>
	<string>1070297874057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samyakbvs.booktobuyer</string>
	<key>PROJECT_ID</key>
	<string>book-to-buyer</string>
	<key>STORAGE_BUCKET</key>
	<string>book-to-buyer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070297874057:ios:19d5da8e6e15e1987b1058</string>
	<key>DATABASE_URL</key>
	<string>https://book-to-buyer.firebaseio.com</string>
</dict>
</plist>